body {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  width: 100px;
  margin-left: auto;
}

.one {
  display: flex;
}

.one .p {
  margin-left: 20px;
  margin-top: 20px;
  background-color: green;
  width: 135px;
  color: white;
  font-size: 16px;
  height: 50px;
  padding-top: 53px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.one .p2 {
  margin: 0px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 14px;
}

.one .p3 {
  margin: 0px;
  margin-left: 20px;
  font-size: 14px;
} 

.one input {
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
}



.one .input1 {
  font-size: 20px;
  text-align: right;
  margin-bottom: 15px;
  height: 30px;
  width: 190px; 
}

.one .input2 {
  font-size: 20px;
  text-align: right;
  margin-bottom: 15px;
  height: 30px;
  width: 190px; 
}

.one .input3 {
  font-size: 20px;
  text-align: right;
  margin-bottom: 15px;
  margin-top: 45px;
  margin-left: -130px;
  height: 30px;
  width: 190px; 
}

.two {
  display: flex;
  margin-top: 300px;
}

.two .p {
  display: inline-block;
  margin-left: -425px;
  margin-top: -120px;
  background-color: green;
  width: 135px;
  color: white;
  text-align: center;
  height: 50px;
  padding-top: 40px;
  padding-left:10px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-size: 15px;
}

.two .p1 {
  margin-left: -57px;
  margin-top: -54px;
  color: white;
  font-size: 12px;
}

.one .p5 {
  margin-top: 77px;
  margin-left: -60px;
  color: white;
  font-size: 12px;
}

.one .p4 {
  display: inline-block;
  width: 130px;
  margin: 0px;
  margin-left: 20px;
  margin-top: 18px;
  font-size: 14px;
}

.two select {
  margin: 0px;
  margin-left: 20px;
  font-size: 19px;
  height: 26px;
  width: 45px;
}

h5 {
  font-weight: normal;
  margin: 0px;
  margin-top: 330px;
  margin-bottom: 10px;
  margin-left: -430px;
  color: #999999;
}

.select {
  display: block;
  margin-top: -50px;
}

h6 {
  font-weight: normal;
  font-size: 17px;
  margin-top: 50px;
}





form .btn {
  color: white;
  background-color: orange;
  border-color: rgb(255, 166, 0);
  width: 316px;
  height: 63px;
  font-size: 25px;
  margin-left: 60px;
  margin-bottom: 40px;
  vertical-align: bottom;
  position:absolute;bottom:0;left:0;

}

form .btn:hover {
  background-color: rgba(255, 166, 0, .7);
  border-color: rgba(255, 166, 0, .7);
}


script {
  display: none;
}

.box {
  display: flex;
}

.h4 {
    /* background-color: burlywood;  */
  }
  
  h4 {
  position: absolute;
  color: white;
  margin-left: 830px;
  margin-top: -510px;
  font-size: 20px;
  padding-top: 60px;
  width: 200px;
  height: 120px;
  font-weight: bold;
  /* background-color: burlywood; */
}

.color .color {
  /* background-color: burlywood; */
  width: 400px;
  height: 150px;
  padding-top: 30px; 
  text-align: center;
}



#output_message {
  width: 200px;
  position: absolute;
  font-size: 60px;
  color: red;
  margin-left: 680px;
  margin-top: -510px;
}

.none input {
  border: none;
  margin-left: 80px;
  margin-top: -300px;
  color: white;
}

img {
  position: relative;top: -300px;right: 200px;
  width: 30%;
}

#output {
  position: relative;
  text-align: right;
  margin-top: -420px;
  margin-left: auto;
  margin-right: 200px;
  font-size: 18px;
  width: 330px;
  color: white;
  font-weight: bold;
}



